<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>首頁</title>
</head>
<body>
    <h2>Reservation Room system!!</h2>
    {% if request.user.is_authenticated %}
    	歡迎光臨:{{name}}
        {% if request.user.is_staff or request.user.is_superuser %}
            權限: manager
        {% else %}
            權限: member
        {% endif %}
        <p><a href="/logout/">登出</a></p>
    {% else %}
        <p>您尚未登入喔~</p>
        權限: guest
        <a href="/login/">登入</a>
        <a href="/register/">註冊</a>
    {% endif %}
    <span style="color:red">{{message}}</span>
</body>
</html>
