<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is login State</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <div class="card">
        <header class="card-header">
            <h1>Sign In</h1>
        </header>
        <section class="card-body">
            <form id="login-form" form action="." method="POST" name="form1">
                {% csrf_token %}
                <div class="inside-form">
                    <span></span>
                    <input id="username" type="text" placeholder="enter account" name="username">
                </div>
                <!-- <label for="account">Account</label> -->
                <div class="inside-form">
                    <span></span>
                    <input autocomplete="additional-name" id="password" type="password" placeholder="enter password"
                        name="password">
                </div>
            </form>
            <button type="submit" form="login-form" class="btn" id="login_btn" value="登入">Login</button>
            <!-- <label for="password">Password</label> -->
        </section>
        <footer class="card-footer">
            <div class="signup"><a href="/register/">Sign Up</a> </div>

            <div class="forget-password"><a href="">Forget password?</a></div>
            
            <div class="guest"><a href="/index/">Guest</a> </div>
        </footer>
    </div>
</body>
<!-- <script src="login.js"> -->

</script>

</html>