<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登入</title>
    </head>
    <body>
        <form action="" method="post">
            <label for="username">用戶名稱:</label>
            <input type="text" name="username" value="" id="username"> <br/>
            <label for="email">電子郵件:</label>
            <input type="text" name="email" value="" id="email"> <br/>
            <label for="password1">用戶密碼:</label>
            <input type="password" name="password1" value="" id="password1"> <br/>
            <label for="passwor2d">密碼確認:</label>
            <input type="password" name="password2" value="" id="password2"> <br/>
            <input type="submit" value="註冊" />
        </form>
        <footer class="card-footer">
            <div class="back"><a href="/login/">login</a> </div>
        </footer>
    </body>
</html>